{% trans_default_domain "symbb_frontend" %}

{% if getNewestPost(null) %}
    {% set templateFile = getSymbbTemplate('forum') ~ ':Forum:layoutWithSidebar.html.twig' %}
{% else %}
    {% set templateFile = getSymbbTemplate('forum') ~ ':Forum:layout.html.twig' %}
{% endif %}


{% extends templateFile %}

{% block stylesheets %} 
    {{ parent() }}
    {% stylesheets 
        '@SymBBTemplateDefaultBundle/Resources/public/css/topic.css' filter='?yui_css'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ executeSymbbTemplateTopicEvent('stylesheets', topic) }}
{% endblock %}
    
{% block javascripts %} 
    {{ parent() }}
    {% javascripts 
        '@SymBBTemplateDefaultBundle/Resources/public/js/quote.js' filter='?yui_js'
        '@SymBBTemplateDefaultBundle/Resources/public/js/tabs.js' filter='?yui_js'
        '@SymBBTemplateDefaultBundle/Resources/public/js/topics.js' filter='?yui_js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ executeSymbbTemplateTopicEvent('javascripts', topic) }}
{% endblock %}

{% block symbb_sidebar %}
    
    {% include getSymbbTemplate('forum') ~ ':Forum:sidebar.html.twig' with {'forum': topic.getForum()} %}
    
{% endblock %}  
    
{% block symbb_slider %}

{% endblock %}
    
{% block symbb_breadcrumb %}
    {{ getSymbbBreadcrumb(topic) }}
{% endblock %}

{% block symbb_actions %}
           
{% endblock %}
    
{% block symbb_body %}
    <div class="anker-group"><div class="anker" id="first_header"></div></div>
    <div class="symbb_action_row topic_start">
        <div class="title">{{ topic.getName() }}</div>
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='#symbb_bbcode_editor'"  data-toggle="collapse" data-target="#answer">{{ 'Answer'|trans }}</button>
            <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='#symbb_bottom'">{{ 'Bottom'|trans }}</button>
        </div> 
        {{ knp_pagination_render(pagination) }}
        <div class="clear"></div>
    </div>
   
    {% if topic.isLocked() %}
    <div class="alert alert-warning">{% trans %}This topic is closed.{% endtrans %}</div>
    <div class="clear"></div>
    {% endif %}
    
    <div class="symbb_topic">
        {{ symbBBForumTopicMacro.showPostList(topic, pagination) }}
    </div>
    
    <div class="symbb_action_row topic_end">
        <div class="title">&nbsp;</div>
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='#top'">{{ 'Top'|trans }}</button>
        </div>
        {{ knp_pagination_render(pagination) }}
        <div class="clear"></div>
    </div>

    {% if topic.isLocked() %}
    <div class="m-top-1"></div>
    <div class="alert alert-warning">{% trans %}This topic is closed.{% endtrans %}</div>
    <div class="clear"></div>
    {% endif %}
    
    <div class="symbb_topic_bradcrumb bottom">
        {{ getSymbbBreadcrumb(topic) }}
    </div>
    
    {% if not topic.isLocked() %}
    
        {% if hasSymbbAccess('SYMBB_FORUM#CREATE_POST', topic.getForum()) %}
    
            {% include getSymbbTemplate('forum') ~ ':Post:new.html.twig' with {'form': form, 'topic': topic, 'saved': false, 'collapse': true} %}

        {% endif %}
    
    {% endif %}
    
{% endblock %}

