{% trans_default_domain "symbb_frontend" %}

{% macro showPostList(object, pagination) %}

    {% for post in pagination %}

    <div class="anker-group">
        <div class="anker" id="{{post.getSeoName()}}-{{post.getId()}}"></div>
    </div>
    <div class="symbb_action_row">
        <div class="title">
            {{ executeSymbbTemplatePostEvent('before.username', post) }}
            <a href="{{ path('symbb_user_profile', {id: post.getAuthor().getId(), 'name': post.getAuthor().getUsername()}) }}">
                {{post.getAuthor().getUsername()}}
            </a>
            {{ executeSymbbTemplatePostEvent('after.username', post) }}
        </div>
        <div class="arrow"></div>
        <div class="date">
            {% trans with {'%date%': post.getChanged()|format_date, '%time%': post.getChanged()|date('H:i')} %}wrote on %date% at %time%{% endtrans %}
        </div>              
        <div class="btn-group pull-right">
            {% if is_granted('CREATE_POST', post.getTopic().getForum()) %}
            <button type="button" class="btn quote btn-info" data-user="{{post.getAuthor().getUsername()}}" data-quote="{{post.getText()}}" >{% trans %}Quote{% endtrans %}</button>
            {% endif %}
            {% if is_granted('EDIT', post) %}
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('symbb_edit_post', {'post': post.getId()}) }}'">{% trans %}Edit{% endtrans %}</button>
            {% endif %}
            {% if is_granted('DELETE', post) %}
            <button type="button" class="btn btn-danger" onclick="if (confirm('{% trans %}you really want to delete the entry?{% endtrans %}')) { window.location.href='{{ path('symbb_delete_post', {'post': post.getId()}) }}' };" >{% trans %}Delete{% endtrans %}</button>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="row body">
            <div class="media">
                <div class="pull-left userblock">
                    {{ executeSymbbTemplatePostEvent('before.avatar', post) }}
                    <div class="avatar">
                        <img src="{{getSymbbUserAvatar(post.getAuthor())}}" />
                    </div>
                    <div class="clear"></div>
                    {{ executeSymbbTemplatePostEvent('after.avatar', post) }}
                    <div class="clear"></div>
                    {{ executeSymbbTemplatePostEvent('before.userdata', post) }}
                    <div class="userdata">
                        <div class="text">{% trans %}posts{% endtrans %}:</div>
                        <div class="data">{{post.getAuthor().getPosts().count()}}</div>
                        <div class="clear"></div>
                        <div class="text">{% trans %}Join Date{% endtrans %}:</div>
                        <div class="data">{{post.getAuthor().getCreated()|format_date}}</div>
                        <div class="clear"></div>
                    </div>
                    {{ executeSymbbTemplatePostEvent('after.userdata', post) }}
                </div>
                <div class="media-body textblock">
                        <div class="clear"></div>
                    {{ executeSymbbTemplatePostEvent('before.text', post) }}
                    <div class="text" id="symbb_post_body_{{post.getId()}}">
                    {{ getSymbbPostManager().parseText(post, "post") |raw }}
                    </div>
                    {{ executeSymbbTemplatePostEvent('after.text', post) }}
                        
                    {{ executeSymbbTemplatePostEvent('before.signature', post) }}
                    {{ _self.showSignature(post) }}
                    {{ executeSymbbTemplatePostEvent('after.signature', post) }}
                </div>
            </div>
        </div>
    {% endfor %}

{% endmacro %}

{% macro showSignature(object) %}
{% if getSymbbUserData(object.getAuthor()).hasSignature() %}
    <div class="row signature">
        {{getSymbbUserSignature(object.getAuthor())}}
    </div>
{% endif %}
{% endmacro %}