{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':Angular:Ucp/layout.html.twig' %}

{% block section_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-sm" symbb-js-link="symbb_message_new">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'new Message'|trans }}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ 'received Messages'|trans }}
                    <ul class="pagination">
                        <li>
                            <a href="#" ng-click="paginateReceivedBack()">«</a>
                        </li>
                        <li ng-repeat="page in paginationDataRecevied.pagesInRange" ng-class='(page==paginationDataRecevied.current) ? "active" : "inactive"'>
                            <a href="#" ng-click="getReceivedMessages(page)">[[page]]</a>
                        </li>
                        <li>
                            <a href="#" ng-click="paginateReceivedNext()">»</a>
                        </li>
                    </ul>
                </div>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-4">{{ 'Sender'|trans }}</th>
                        <th class="col-md-5">{{ 'Subject'|trans }}</th>
                        <th class="col-md-3">{{ 'Date'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in entriesReceived" symbb-js-link="symbb_message_show" param-id="[[entry.id]]">
                        <td>[[entry.sender.username]]</td>
                        <td>
                            [[entry.subject]]
                            <span ng-if="entry.new" class="label label-success">{{ 'new'|trans }}</span>
                        </td>
                        <td>[[entry.date | date:'dd.MM.yyyy H:mm']]</td>
                    </tr>
                    <tr ng-if="loadingReceivedMessages">
                        <td colspan="3">
                            <div class="loading-spinner-icon"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ 'sent Messages'|trans }}
                    <ul class="pagination">
                        <li>
                            <a href="#" ng-click="paginateSentBack()">«</a>
                        </li>
                        <li ng-repeat="page in paginationDataSent.pagesInRange" ng-class='(page==paginationDataSent.current) ? "active" : "inactive"'>
                            <a href="#" ng-click="getSentMessages(page)">[[page]]</a>
                        </li>
                        <li>
                            <a href="#" ng-click="paginateSentNext()">»</a>
                        </li>
                    </ul>
                </div>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-4">{{ 'Receiver'|trans }}</th>
                        <th class="col-md-5">{{ 'Subject'|trans }}</th>
                        <th class="col-md-3">{{ 'Date'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in entriesSent" symbb-js-link="symbb_message_show" param-id="[[entry.id]]">
                        <td><div ng-repeat="receiver in entry.receivers">[[receiver.username]]</div></td>
                        <td>[[entry.subject]]</td>
                        <td>[[entry.date | date:'dd.MM.yyyy H:mm']]</td>
                    </tr>
                    <tr ng-if="loadingSentMessages">
                        <td colspan="3">
                            <div class="loading-spinner-icon"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}