{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':Angular:Ucp/layout.html.twig' %}

{% block section_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-sm" symbb-js-link="message_new">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'new Message'|trans }}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ 'received Messages'|trans }}</div>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'Sender'|trans }}</th>
                        <th>{{ 'Subject'|trans }}</th>
                        <th>{{ 'Date'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in receivedMessages">
                        <td>[[entry.sender.username]]</td>
                        <td>[[entry.subject]]</td>
                        <td>[[entry.date]]</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ 'sent Messages'|trans }}</div>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'Receiver'|trans }}</th>
                        <th>{{ 'Subject'|trans }}</th>
                        <th>{{ 'Date'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in sentMessages">
                        <td><div ng-repeat="receiver in receivers">[[receiver.username]]</div></td>
                        <td>[[entry.subject]]</td>
                        <td>[[entry.date]]</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}