{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':Angular:Ucp/layout.html.twig' %}

{% block section_content %}
    <h1>[[message.subject]]</h1>
    {% trans with {'%user%': '[[message.sender.username]]', '%date%': "[[ message.date | date:'dd.MM.yyyy']]", '%time%': "[[ message.date | date:'H:mm']]"} %}by %user% on %date% at %time%{% endtrans %}

    <div class="padding10" ng-bind-html-unsafe="message.message"></div>

    <h1>{{ 'Reply'|trans }}</h1>
    <form role="form">
        <div class="form-group">
            <label for="subject">{{ 'subject'|trans }}</label>
            <input ng-model="replyMessage.subject" class="form-control" id="subject" required>
        </div>
        <div class="form-group">
            <label for="replyMessage[rawText]">{{ 'message'|trans }}</label>
            <symbb-editor-default>
                <textarea ng-model="replyMessage.message" required placeholder="{{'Give Your text here'|trans}}" name="replyMessage[message]" class="form-control"></textarea>
            </symbb-editor-default>
        </div>
    </form>

    <div class="btn-group">
        <button ng-click="sendReply()" class="btn btn-primary">{{ 'answer'|trans }}</button>
        <button symbb-js-link="message_list" class="btn btn-default">{{ 'back'|trans }}</button>
    </div>
{% endblock %}