{% extends getSymbbTemplate('acp') ~ ':Acp:Layout/list.html.twig' %}

{% trans_default_domain "symbb_backend" %}


{% block symbb_sidebar %}


{% endblock %}

{% block symbb_list_header %}
    <div class="pull-left">
    {{ 'Sites'|trans }}
    </div>
    <div class="pull-right">
        <button class="btn btn-default" onclick="window.location.href='{{ path('_symbbcoresitebundle_site_new', { 'parent': parent}) }}'"> {{ 'new Site'|trans() }} </button>
    </div>
    <div class="clearfix"></div>
{% endblock %}
 
{% block symbb_list_table %}
    <table class="table table-striped table-bordered table-sortable responsive">
        <colgroup>
            <col style="width: 26px;" />
            <col style="width: auto;" />
            <col style="width: 100px;" />
            <col style="width: 100px;" />
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>{{ 'Site'|trans }}</th>
                <th>{{ 'Domains'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody class="sortable_table" data-url="{{ path('_symbbcoresitebundle_site_sort') }}">
            {% for entry in entityList %}
                <tr id="entry_{{entry.getId()}}">
                    <th class="mover"><i class="glyphicon glyphicon-fullscreen"></i></th>
                    <td class="clickable">{{entry.getName()}}</td>
                    <td>{{entry.getDomains()}}</td>
                    <td>
                        <a href="{{ path('_symbbcoresitebundle_site_edit', {id: entry.getId()}) }}"><img class="clickable" src="/bundles/symbbtemplatedefault/images/icons/16_16/pencil.png" alt="{{ 'Editieren'|trans }}" title="{{ 'Editieren'|trans }}" /> </a>
                        <a onclick="if(!confirm('{{ 'Really delete entry?'|trans }}')) { return false; }" href="{{ path('_symbbcoresitebundle_site_remove', {id: entry.getId()}) }}"><img class="clickable" src="/bundles/symbbtemplatedefault/images/icons/16_16/cross.png" alt="{{ 'Delete'|trans }}" title="{{ 'Delete'|trans }}" /> </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}