{% trans_default_domain "symbb_backend" %}

{% extends getSymbbTemplate('acp') ~ ':AcpAngular:contentTemplate.html.twig' %}

{% block title %}{{ 'Sites'|trans }}{% endblock %}
{% block subtitle %}
    {{ 'You can manage your Navigations for every Site on this Pages'|trans }}
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <select class="form-control" ng-model="currSite" ng-change="changeSelectedSite()">
                    <option value="">{{ 'Select a Site'|trans }}</option>
                    <option ng-repeat="site in data" value="[[site.id]]">[[site.name]]</option>
                </select>
            </h3>
        </div>
        <div class="tree"  ng-if="currSite">
            <ul>
                <li ng-if="currSiteData.navigations" ng-repeat="navigation in currSiteData.navigations">
                    <span class="item label-info">
                        [[navigation.title]]
                        <div class="pull-right btn-group">
                            <button class="btn btn-default btn-xs" ng-click="newItem(navigation)">
                                <i class="glyphicon glyphicon-plus"></i>
                                {{ 'new sublink'|trans }}
                            </button>
                            <button class="btn btn-default btn-xs" ng-click="editNavigation(navigation)">
                                <i class="glyphicon glyphicon-pencil"></i>
                                {{ 'edit'|trans }}
                            </button>
                            <button class="btn btn-default btn-xs" ng-click="deleteNavigation(navigation)">
                                <i class="glyphicon glyphicon-trash"></i>
                                {{ 'delete'|trans }}
                            </button>
                        </div>
                    </span>
                    <ul>
                        <li ng-repeat="item in navigation.items"  ng-include="'acp_site_navigation_list_item_tpl.html'">
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="item label-info">
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs" ng-click="newNavigation()">
                                <i class="glyphicon glyphicon-plus"></i>
                                {{ 'new Navigation'|trans }}
                            </button>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <symbb-modal-form id="naviForm" button-text="{{ 'save'|trans }}" header-text="{{ 'Navigation'|trans }}">
        <label>{{ 'Title'|trans }}</label><input class="form-control" ng-model="navigationForm.title" />
        <label>{{ 'Key'|trans }}</label><input class="form-control" ng-model="navigationForm.nav_key" />
    </symbb-modal-form>
    <symbb-modal-form id="naviItemForm" button-text="{{ 'save'|trans }}" header-text="{{ 'Navigation Item'|trans }}">
        <label>{{ 'Title'|trans }}</label><input class="form-control" ng-model="navigationItemForm.title" />
        <label>{{ 'Type'|trans }}</label>
        <select class="form-control" ng-model="navigationItemForm.type" ngRequired="true">
            <option value="symfony">{{ 'System Link'|trans }}</option>
            <option value="url">{{ 'URL'|trans }}</option>
        </select>
        <div ng-show="navigationItemForm.type=='symfony'">
        <label>{{ 'Symfony Route'|trans }}</label><input placeholder="{{ 'Internally key of the route'|trans }}" class="form-control" ng-model="navigationItemForm.symfony_route" />
        <label>{{ 'Route Params'|trans }}</label><input placeholder="{{ 'Array of Params as JSON'|trans }}" class="form-control" ng-model="navigationItemForm.symfony_route_params" />
        </div>
        <div ng-show="navigationItemForm.type=='url'">
        <label>{{ 'Url'|trans }}</label><input placeholder="{{ 'Url with http://'|trans }}" class="form-control" ng-model="navigationItemForm.fix_url" />
        </div>
        <label>{{ 'Position'|trans }}</label><input class="form-control" ng-model="navigationItemForm.position" type="number" />
    </symbb-modal-form>
    <script type="text/ng-template" id="acp_site_navigation_list_item_tpl.html">
        <span class="item" >[[item.title]]
            <div class="pull-right btn-group">
                <button class="btn btn-default btn-xs" ng-click="newItem(navigation, item)">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ 'new sublink'|trans }}
                </button>
                <button class="btn btn-default btn-xs" ng-click="editItem(navigation, item)">
                    <i class="glyphicon glyphicon-pencil"></i>
                    {{ 'edit'|trans }}
                </button>
                <button class="btn btn-default btn-xs" ng-click="deleteItem(item)">
                    <i class="glyphicon glyphicon-trash"></i>
                    {{ 'delete'|trans }}
                </button>
            </div>
        </span>
        <div class="clearfix"></div>
        <ul ng-if="item.children && item.children.length > 0">
            <li ng-repeat="item in item.children"  ng-include="'acp_site_navigation_list_item_tpl.html'">
            </li>
        </ul>
    </script>
{% endblock %}