{% trans_default_domain "symbb_backend" %}

{% extends getSymbbTemplate('acp') ~ ':Acp:Layout/list.html.twig' %}

{% block symbb_sidebar %}
    {{ knp_menu_render('SymbbCoreAdminBundle:Builder:systemMenu', {'template': getSymbbTemplate('acp') ~ '::sidemenu.html.twig'}) }}
{% endblock %}

{% block symbb_list_table %}

    <table class="table table-striped table-bordered table-sortable responsive">

        <colgroup>
            <col style="width: auto"></col>
            <col style="width: 300px"></col>
        </colgroup>

        <thead>
        <tr>
            <th> {{ 'Extension'|trans }} </th>
            <th> {{ 'Aktion'|trans }} </th>
        </tr>
        </thead>

        <tbody>
        {% for extension in extensions %}
            <tr>
                <td> {{ extension.getName() }} </td>
                <td>
                    {% if extension.isEnabled() %}
                        <button onclick="window.location.href='{{ path('_symbbcoresystembundle_extension_disable', {'package': extension.getPackageForUrl()} ) }}'"
                                type="button" class="btn btn-warning btn-xs">{{ 'Deaktivate'|trans }}</button>
                    {% else %}
                        <button onclick="window.location.href='{{ path('_symbbcoresystembundle_extension_enable', {'package': extension.getPackageForUrl()} ) }}'"
                                type="button" class="btn btn-success btn-xs">{{ 'Activate'|trans }}</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}