{% trans_default_domain "symbb_backend" %}

{% extends getSymbbTemplate('acp') ~ ':Acp:Layout/access.html.twig' %}

{% form_theme form getSymbbTemplate('acp') ~ '::form.html.twig' %}

{% block javascripts %} 
    {{ parent() }}
    {% javascripts 
        '@SymBBTemplateDefaultBundle/Resources/public/js/tabs.js' filter='?yui_js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block symbb_body %}
    {{ form_startbootstrap(form) }}
    {{ form_row(form._token) }}
    {{ form_row(form.subforum) }}

        <div class="page-header">
            <b>{{ 'Gruppe'|trans }}: {{ group.getName() }}</b>                  
        </div>

        {% for forum in forumList %}
    
        <div class="page-header">
            {{forum.getName()}} <small>{% if subforum %}{{ 'and all subforums'|trans }}{% endif %}</small>                
        </div>
        <div>
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">

                {% set tabCount = 0%}
                {% for key, permissionData in accessManager.getPrefixDataObject(forum) %}
                    <li {% if loop.first %} class="active" {% endif %}>
                        <a data-toggle="tab" href="#tabX{{ forum.getId() }}X{{ tabCount }}">
                            {{ key|trans({}, 'symbb_access') }}
                        </a>
                    </li>
                    {% set tabCount = tabCount + 1%}
                {% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {% set count = 0%}
                {% set tabCount = 0%}
                {% for key, permissionData in accessManager.getPrefixDataObject(forum) %}
                    <div class="tab-pane {% if loop.first %} active {% else %} fade {% endif %}" id="tabX{{ forum.getId() }}X{{ tabCount }}">
                        {% for permission in permissionData.permissions %}
                            <div>
                                <input {% if hasSymbbAccess(permission, forum, group) %} checked="checked" {% endif %} type="checkbox" value="1" name="access_{{ forum.getId() }}[{{ permission }}]" id="permission-{{ forum.getId() }}-{{count}}" > <label for="permission-{{ forum.getId() }}-{{count}}">{{ permission|trans({}, 'symbb_access') }}</label>
                            </div>
                            {% set count = count + 1%}
                        {% endfor %}
                    </div>
                    {% set tabCount = tabCount + 1%}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {{ form_row(form.save) }}
        {{ form_row(form.back) }}

    {{ form_end(form) }}
{% endblock %}