{% trans_default_domain "symbb_frontend" %}

<div class="section_tabs">
    {% block section_tabs %}
        <ul class="nav nav-tabs">
            <li>
                <a href="{{ path('symbb_forum_index') }}" title="{{ 'home'|trans }}">
                    <span class="glyphicon glyphicon-chevron-left glyphicon-success"></span>
                    <span class="glyphicon-label">{% trans %}home{% endtrans %}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('symbb_user_ucp') }}" title="{{ 'profile'|trans }}">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="glyphicon-label">{% trans %}profile{% endtrans %}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('symbb_user_ucp_security') }}" title="{{ 'security'|trans }}">
                    <span class="glyphicon glyphicon-lock"></span>
                    <span class="glyphicon-label">{% trans %}security{% endtrans %}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('symbb_message_list') }}" title="{% trans %}Messages{% endtrans %}">
                    <span class="glyphicon glyphicon-comment"
                          ng-class="{'glyphicon-danger': user.count.newMessages}"><span class="message_count">[[user.count.newMessages]]</span></span>
                    <span class="glyphicon-label">{% trans %}Messages{% endtrans %}</span>
                </a>
            </li>
        </ul>
    {% endblock %}
</div>

<div class="section_content">
    {% block section_content %}
    {% endblock %}
    <div class="clear"></div>
</div>