{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':User:layoutUcp.html.twig' %}

{% form_theme form getSymbbTemplate('forum') ~ '::form.html.twig' %}

{% block symbb_body %}

<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Profil'|trans }}</div>
    <div class="panel-body">
      {{ form_startbootstrap(form) }}
        {{ form_row(form._token) }}
        {{ form_rowbootstrap(form.avatar) }}
        <div class="form-group">
            <label class="col-sm-2">&nbsp;</label>
            <div class="col-sm-10">
                <div class="avatar">
                    <img class="" src="{{getSymbbUserAvatar(app.user)}}" />
                </div>
            </div>
        </div>
            
        
        <div class="form-group ng-scope">
            <label class="col-sm-2 control-label" for="user_options_signature">{{'Signature'|trans}}</label>
            <div class="col-sm-10">
                <symbb-editor-default>
                {{ form_widget(form.signature) }}
                </symbb-editor-default>
            </div>
        </div>
        
        {{ form_rowbootstrap(form.timezone) }}
        
        {{ form_restbootstrap(form) }}
            
        <button type="submit" id="user_options_save" name="user_options[save]" class="btn-success btn btn-default" onclick="submit();">{{'speichern'|trans}}</button>
        
      {{ form_end(form) }}
    </div>
</div>
    
{% endblock %}    