{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':User:layoutPublic.html.twig' %}

{% import getSymbbTemplate('forum') ~ ":Forum:forumMacros.html.twig" as symbBBForumMacro %}

{% block symbb_breadcrumb %}
    {{ getSymbbBreadcrumb(user) }}
{% endblock %}

{% block symbb_body %}

            
    <div class="panel panel-primary">
        <div class="panel-heading">{{user.getUsername()}}</div>
        <div class="panel-body">
            <div class="avatar">
                <img src="{{getSymbbUserAvatar(user)}}" />
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">{{"Statistic"|trans()}}</div>
        <div class="panel-body">
            <div>
                <label>{{ "Registration Date"|trans()  }}:</label> {{user.getCreated()|format_date}}
            </div>
            <div>
                <label>{{ "Total Topics"|trans()  }}:</label> {{getUserManager().getTopicCount(user)}}
            </div>
            <div>
                <label>{{ "Total Posts"|trans()  }}:</label> {{getUserManager().getPostCount(user)}}
            </div>
            
            {% for field in getUserManager().findFields({displayInMemberlist: true}) %}
                <div>
                    <label>{{ field.getLabel() |trans }}:</label> {{user.getFieldValue(field)}}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">{{"Last Posts"|trans()}}</div>
        <div class="panel-body">
            {% for object in getUserManager().getLastPosts(user) %}
                {{ symbBBForumMacro.createPostCard(object, "col-lg-4 col-md-6 col-sm-12") }}
            {% endfor %}
        </div>
    </div>

    

    <div class="clear"></div>

{% endblock %}    