{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':User:layoutPublic.html.twig' %}

{% block symbb_breadcrumb %}
    {{ getSymbbBreadcrumb(users) }}
{% endblock %}

{% block symbb_body %}

<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Members'|trans() }}</div>
    <div class="panel-body">

        {{ knp_pagination_render(users) }}



        <table class="table table-striped table-bordered table-sortable responsive">
            <thead>
                <tr>
                    <th> {{ 'Username'|trans() }} </th>
                    <th> {{ 'Beiträge'|trans() }} </th>
                    <th> {{ 'Dabei seit'|trans() }} </th>
                    {% for field in getUserManager().findFields({displayInMemberlist: true}) %}
                        <th> {{ field.getLabel() |trans }} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for currUser in users %}

                    {% if currUser.getSymbbType() == 'user' %}

                    <tr>
                        <td><a target="_self" href="{{ path('symbb_user_profile', { id: currUser.getId(), 'name': currUser.getUsername() }) }}">{{ currUser.getUsername() }}</a></td>
                        <td>{{ getUserManager().getPostCount(currUser) }}</td>
                        <td>{{ formatIntlDate(currUser.getCreated()) }}</td>
                        {% for field in getUserManager().findFields({displayInMemberlist: true}) %}
                            <th> {{currUser.getFieldValue(field)}} </th>
                        {% endfor %}
                    </tr>

                    {% endif %}

                {% endfor %} 
            </tbody>
        </table>

        {{ knp_pagination_render(users) }}
    </div>
</div>

{% endblock %}    