{% trans_default_domain "symbb_frontend" %}
<div ng-repeat="category in categoryList">

    <div class="anker-group">
        <div class="anker" id="category_[[category.id]]"></div>
    </div>
    <div class="symbb_action_row">
        <div class="title">
            <img class="viewSwitcher" src="/bundles/symbbtemplatedefault/images/icons/16_16/application_view_list.png" ng-click="changeView()"/>
            <span symbb-link="forum_show" param-id="[[category.id]]" param-name="[[category.name]]">[[category.name]]</span>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>

    <div class="symbb_category_block_container col-lg-4 col-md-6 col-sm-12" ng-repeat="object in category.children">
        {{ include('SymBBTemplateDefaultBundle:Angular:Forum/card.html.twig') }}
    </div>

    <div class="clear"></div>
</div>



<div ng-show="hasForumList">
    <div class="anker-group">
        <div class="anker" id="forums"></div>
    </div>
    <div class="symbb_action_row">
        <div class="title">
            <img class="viewSwitcher" src="/bundles/symbbtemplatedefault/images/icons/16_16/application_view_list.png" ng-click="changeView()"/>
            <a>{{ 'Forums'|trans() }}</a>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
    </div>
</div>

<div class="symbb_category_block_container col-lg-4 col-md-6 col-sm-12" ng-repeat="object in linkList">
    {{ include('SymBBTemplateDefaultBundle:Angular:Forum/linkCard.html.twig') }}
</div>
<div class="symbb_category_block_container col-lg-4 col-md-6 col-sm-12" ng-repeat="object in forumList">
    {{ include('SymBBTemplateDefaultBundle:Angular:Forum/card.html.twig') }}
</div>
<div class="clear"></div>



<div ng-show="forum.isForum">
    <div class="anker-group">
        <div class="anker" id="topics"></div>
    </div>
    <div class="symbb_action_row">
        <div class="title">
            <img class="viewSwitcher" src="/bundles/symbbtemplatedefault/images/icons/16_16/application_view_list.png" ng-click="changeView()"/>
            <a>{{ 'Topics'|trans() }}</a>
        </div>
        <div class="arrow"></div>
        <div class="pull-left">
            <pagination route="forum_show" param-id="[[forum.id]]" param-name="[[forum.seo.name]]"></pagination>
        </div>
        <div class="btn-group pull-left">
            <button ng-show="forum.access.createTopic" type="button" class="btn btn-default btn-sm" symbb-js-link="forum_topic_create" param-id="[[forum.id]]" param-name="[[forum.seo.name]]">{% trans %}new Topic{% endtrans %}</button>
            <button type="button" class="btn btn-default btn-sm" symbb-request="forum_mark_as_read" param-id="[[forum.id]]">{% trans %}Mark as read{% endtrans %}</button>
            <button ng-show="forum.ignored" id="symbbForumIgnoreButton" title="{{ 'You ignore the forum'|trans }}" type="button" class="btn btn-default btn-sm" symbb-request="forum_unignore" param-id="[[forum.id]]">
                <span class="glyphicon glyphicon-eye-close" ></span> {{ 'You ignore the forum'|trans }}
            </button>
            <button  ng-hide="forum.ignored" id="symbbForumWatchButton" title="{{ 'You watch the forum'|trans }}" type="button" class="btn btn-default btn-sm" symbb-request="forum_ignore" param-id="[[forum.id]]">
                <span class="glyphicon glyphicon glyphicon-eye-open" ></span> {{ 'You watch the forum'|trans }}
            </button>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div>
    <div class="symbb_category_block_container col-lg-4 col-md-6 col-sm-12" ng-repeat="object in topicList" symbb-link="forum_topic_show" param-id="[[object.id]]" param-name="[[object.seo.name]]" param-page="1">
        {{ include('SymBBTemplateDefaultBundle:Angular:Forum/topicCard.html.twig') }}
    </div>
    <div class="clear"></div>
</div>