{% trans_default_domain "symbb_frontend" %}
{% extends getSymbbTemplate('forum') ~ ':Forum:layout.html.twig' %}
{% import getSymbbTemplate('forum') ~ ':Forum:macros.html.twig' as forumMacros %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {{ forumMacros.breadcrumbForTopic(topic) }}
        {% if is_granted(constant('Symbb\\Core\\ForumBundle\\Security\\Authorization\\TopicVoter::CREATE_POST'), topic) %}
            <li class="pull-right">
                <a title="{% trans %}new Answer{% endtrans %}" type="button" class="btn btn-primary btn-xs" href="{{ path("symbb_forum_topic_post_create", {"topic": topic.getId()}) }}">
                    <span class="glyphicon glyphicon-plus"></span> {% trans %}new Answer{% endtrans %}
                </a>
            </li>
        {% endif %}
    </ol>
{% endblock %}

{% block section_content %}


    {% if topic.isLocked() %}
        <div class="clear m-top-1">
            <div class="alert alert-warning">{% trans %}This topic is closed.{% endtrans %}</div>
            <div class="clear"></div>
        </div>
    {% endif %}

    {{ forumMacros.answer_btn(topic, posts) }}

    {% for object in posts %}
        {{ forumMacros.post(object) }}
    {% endfor %}

    {{ forumMacros.answer_btn(topic, posts) }}


{% endblock %}
