{% trans_default_domain "symbb_frontend" %}

{% macro createPostCardFull(object, css) %}

    {% set categoryBackground = getSymbbUserAvatar(object.getAuthor()) %}

    <div class="symbb_category_block_container col-lg-4 col-md-6 col-sm-12 {{css}}" onclick="window.location.href='{{ path('symbb_forum_topic_show', {'id': object.getTopic().getId(), 'name': object.getTopic().getSeoName(), 'page': "last"}) }}#{{object.getSeoName()}}-{{object.getId()}}'">
        <div class="symbb_category_block">
            <div class="image avatar" style="background-image: url({{categoryBackground}})">
                <div class="infos">
                    <div class="title">{{object.getName()}}</div>
                    <div class="badges">
                        <span title="{% trans %}Posts{% endtrans %}" class="badge">{{object.getTopic().getPostCount()}}</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="infos">
                    <div class="lastpost">
                        <blockquote>{{object.getText()|bbcode_clean|slice(0, 100)|raw}}</blockquote>
                    </div>
                    <div class="description">
                    {% trans with {'%user%': object.getAuthor().getUsername(), '%date%': object.getChanged()|format_date, '%time%': object.getChanged()|date('H:i')} %}created by %user% on %date% at %time%{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}



{% macro createPostCard(object, css) %}


    {% set categoryBackground = getSymbbUserAvatar(object.getAuthor()) %}

    {% if categoryBackground %}
        {% set categoryBackground = categoryBackground | imagine_filter('symbb_forum_image') %}
    {% endif %}

    <div class="symbb_category_block post {{css}}"  symbb-link="forum_topic_show" param-id="{{object.getTopic().getId()}}" param-name="{{object.getTopic().getSeoName()}}">
        <div class="text">
            <div class="lastpost">
                <div class="avatar_mini avatar">
                    <img src="{{getSymbbUserAvatar(object.getAuthor())}}" />
                </div>
                <div class="title">{{object.getName()}}</div>
                <div class="badges">
                    {% trans with {'%date%': object.getChanged()|format_date, '%time%': object.getChanged()|date('H:i')} %}on %date% at %time%{% endtrans %}
                </div>
            </div>
            <div class="infos">
                <div class="lastpost">
                    <blockquote>{{object.getText()|bbcode_clean|slice(0, 50)|raw}}...</blockquote>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}