{% trans_default_domain "symbb_frontend" %}

{% macro createCard(object) %}
 
    {% set categoryBackground = false %}

    {% if object.getImageName() %}
        {% set categoryBackground = vich_uploader_asset(object, 'image') %}
    {% endif %}

    {% if categoryBackground %}
        {% set categoryBackground = categoryBackground | imagine_filter('symbb_forum_image') %}
    {% endif %}

    <div class="symbb_category_block_container col-lg-4 col-md-6 col-sm-12" onclick="window.location.href='{{ path('symbb_forum_show', {'id': object.getId(), 'name': object.getSeoName()}) }}'">
        <div class="symbb_category_block">
            <div class="image" {% if categoryBackground %}  style="background-image: url({{ categoryBackground }})"{% endif %}>
                <div class="labels">
                    {% for label in checkSymbbForumLabels(object) %}
                        <span class="label label-{{label.type}}">{{label.title}}</span>
                    {% endfor %}
                </div>
                <div class="infos symbb_tooltip" title="{{object.getDescription()}}">
                    <div class="title">{{object.getName()}}</div>
                    <div class="badges">
                        <span title="{% trans %}Topics{% endtrans %}" class="badge">{{object.getTopicCount()}}</span> &nbsp;
                        <span title="{% trans %}Posts{% endtrans %}" class="badge">{{object.getPostCount()}}</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="infos">
                    <div class="lastpost">
                        {% for post in getSymbbForumManager().findPosts(object, 4) %}
                            <a class="block" href="{{ path('symbb_forum_topic_show', {'id': post.getTopic().getId(), 'name': post.getTopic().getSeoName()}) }}?page=last#{{post.getSeoName()}}-{{post.getId()}}">
                                <div class="avatar_mini avatar">
                                    <img src="{{getSymbbUserAvatar(post.getAuthor())}}" />
                                </div>
                                <div class="title">{{post.getName()}}</div>
                                <div class="user">{% trans with {'%date%': post.getChanged()|format_date, '%time%': post.getChanged()|date('H:i')} %}on %date% at %time%{% endtrans %}</div>
                                <div class="clear"></div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro createTopicCard(object) %}


    {% set categoryBackground = getSymbbUserAvatar(object.getAuthor()) %}

    <div class="symbb_category_block_container col-lg-4 col-md-6 col-sm-12" onclick="window.location.href='{{ path('symbb_forum_topic_show', {'id': object.getId(), 'name': object.getSeoName()}) }}#first_header'">
        <div class="symbb_category_block">
            <div class="image avatar" style="background-image: url({{categoryBackground}})">
                <div class="labels">
                {% for label in checkSymbbTopicLabels(object) %}
                    <span class="label label-{{label.type}}">{{label.title}}</span>
                {% endfor %}
                </div>
                <div class="infos">
                    <div class="title">{{object.getName()}}</div>
                    <div class="badges">
                        <span title="{% trans %}Posts{% endtrans %}" class="badge">{{object.getPostCount()}}</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="infos">
                    <div class="lastpost">
                        {% for post in object.getPosts()|slice(0, 2) %}
                            <a class="block" href="{{ path('symbb_forum_topic_show', {'id': post.getTopic().getId(), 'name': post.getTopic().getSeoName()}) }}?page=last#{{post.getSeoName()}}-{{post.getId()}}">
                                <div class="avatar_mini avatar">
                                    <img src="{{getSymbbUserAvatar(post.getAuthor())}}" />
                                </div>
                                <div class="title">{{post.getName()}}</div>
                                <div class="user">{% trans with {'%date%': post.getChanged()|format_date, '%time%': post.getChanged()|date('H:i')} %}on %date% at %time%{% endtrans %}</div>
                                <div class="clear"></div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="description">
                    {% trans with {'%user%': object.getAuthor().getUsername(), '%date%': object.getChanged()|format_date, '%time%': object.getChanged()|date('H:i')} %}created by %user% on %date% at %time%{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro createPostCardFull(object, css) %}


    {% set categoryBackground = getSymbbUserAvatar(object.getAuthor()) %}


    <div class="symbb_category_block_container col-lg-4 col-md-6 col-sm-12 {{css}}" onclick="window.location.href='{{ path('symbb_forum_topic_show', {'id': object.getTopic().getId(), 'name': object.getTopic().getSeoName(), 'page': "last"}) }}#{{object.getSeoName()}}-{{object.getId()}}'">
        <div class="symbb_category_block">
            <div class="image avatar" style="background-image: url({{categoryBackground}})">
                <div class="infos">
                    <div class="title">{{object.getName()}}</div>
                    <div class="badges">
                        <span title="{% trans %}Posts{% endtrans %}" class="badge">{{object.getTopic().getPostCount()}}</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="infos">
                    <div class="lastpost">
                        <blockquote>{{object.getText()|bbcode_clean|slice(0, 100)|raw}}</blockquote>
                    </div>
                    <div class="description">
                    {% trans with {'%user%': object.getAuthor().getUsername(), '%date%': object.getChanged()|format_date, '%time%': object.getChanged()|date('H:i')} %}created by %user% on %date% at %time%{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}



{% macro createPostCard(object, css) %}


    {% set categoryBackground = getSymbbUserAvatar(object.getAuthor()) %}

    {% if categoryBackground %}
        {% set categoryBackground = categoryBackground | imagine_filter('symbb_forum_image') %}
    {% endif %}

    <div class="symbb_category_block post {{css}}" onclick="window.location.href='{{ path('symbb_forum_topic_show', {'id': object.getTopic().getId(), 'name': object.getTopic().getSeoName(), 'page': "last"}) }}#{{object.getSeoName()}}-{{object.getId()}}'">
        <div class="text">
            <div class="lastpost">
                <div class="avatar_mini avatar">
                    <img src="{{getSymbbUserAvatar(object.getAuthor())}}" />
                </div>
                <div class="title">{{object.getName()}}</div>
                <div class="badges">
                    {% trans with {'%date%': object.getChanged()|format_date, '%time%': object.getChanged()|date('H:i')} %}on %date% at %time%{% endtrans %}
                </div>
            </div>
            <div class="infos">
                <div class="lastpost">
                    <blockquote>{{object.getText()|bbcode_clean|slice(0, 50)|raw}}...</blockquote>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}