{% extends getSymbbTemplate('forum') ~ '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Latest compiled and minified CSS -->
    {% stylesheets filter='?uglifycss'
    '@SymBBTemplateDefaultBundle/Resources/public/css/angular/*.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ executeSymbbEvent('template.angular.stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="/bundles/symbbcoreangular/js/angular/angular-mocks.js"></script>
    {% javascripts filter='?uglifyjs2'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-animate.js'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-cookies.js'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-routing.js'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-sanitize.js'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-file-upload.js'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-tumb.js'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/datetimepicker.js'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/loading-bar.js'
    '@SymBBCoreAngularBundle/Resources/public/js/angular/ng-infinite-scroll.js'
    '@SymBBTemplateDefaultBundle/Resources/public/js/angular/module.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ executeSymbbEvent('template.forum.javascripts') }}
{% endblock %}

{% block symbb_body_container %}
    <div class="symbb_flash_messages" id="symbbMessages">
        {% if app.getUser.getSymbbType() == 'guest' %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% trans %}You are not currently logged.{% endtrans %}
            </div>
        {% endif %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="system_announcement">
        {% if getSymbbSite().getAnnouncement() %}
            <div class="alert alert-warning">
                {{ getSymbbSite().getAnnouncement() }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="pull-right" target="_self" href="{{ path('_symbbcoresitebundle_site_edit', {id: getSymbbSite().getId()}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="clear"></div>

    {% block symbb_body %}
        {{ executeSymbbEvent('template.forum.beforeBody') }}
        <div ng-view  show-default="true"></div>
        {{ executeSymbbEvent('template.forum.afterBody') }}
    {% endblock %}

{% endblock %}
