{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':Forum:layout.html.twig' %}

{% block section_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'Members'|trans() }}</div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-sortable responsive">
                <thead>
                <tr>
                    <th> {{ 'Username'|trans() }} </th>
                    <th> {{ 'Beiträge'|trans() }} </th>
                    <th> {{ 'Dabei seit'|trans() }} </th>
                    <th> {{ 'letzer Login'|trans() }} </th>
                    {% for field in userfields %}
                        <th > {{ field.getLabel() }} </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td><a href="{{ path("symbb_user_profile", {id: entry.getId(), username: entry.getUsername()}) }}">{{ entry.getUsername() }}</a></td>
                            <td>{{ getUserManager().getPostCount(entry) }}</td>
                            <td>{{ entry.getCreated() | date("d.m.Y") }}</td>
                            <td>{{ entry.getLastLogin() | date("d.m.Y") }}</td>
                            {% for field in userfields %}
                                <th >
                                {% set fieldValue = entry.getFieldValue(field) %}
                                {% if field.getDataType() == "boolean" %}
                                    {% if fieldValue.getValue() %}
                                        <span class="glyphicon glyphicon-ok glyphicon-success"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove glyphicon-danger"></span>
                                    {% endif %}
                                {% else %}
                                    {{ fieldValue.getValue() }}
                                {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(entries, 'SymbbTemplateDefaultBundle:Pagination:pagination.html.twig') }}
        </div>
    </div>
{% endblock %}