
<ol class="breadcrumb">
    <li>
        <div class="avatar avatar_mini">
            <img src="{{getSymbbUserAvatar(app.user)}}" />
        </div>
    </li>
    {% for item in breadcrumb %}
        {% spaceless %}
        {% if loop.first %}
            <li class="first"><a href="{{item.link}}">{{item.name}}</a></li>
        {% elseif loop.last %}
                <li class="active"><a href="{{item.link}}">&rsaquo;&nbsp;&nbsp;{{item.name}}</a></li>
        {% else %}
            <li>
                <a href="{{item.link}}">&rsaquo;&nbsp;&nbsp;{{item.name}}</a>
            </li>
        {% endif %}
        {% endspaceless %}
    {% endfor %}
</ol>