{% trans_default_domain "symbb_frontend" %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" ng-app="app">
  <head>
    <title>{% block title %}{{getSymbbSite().getName()}}{% endblock %}</title>
    <meta http-equiv="Content-Language" content="{{ app.request.locale }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{getSymbbSite().getMetaDataDescription()}}">
    <meta name="keywords" content="{{getSymbbSite().getMetaDataKeywords()}}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    {% block stylesheets %} 
        {% stylesheets filter='?uglifycss'
            '@SymBBTemplateDefaultBundle/Resources/public/css/magnific-popup.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/theme.css' 
            '@SymBBTemplateDefaultBundle/Resources/public/css/form.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/navi.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/search.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/angular/*.css'
         %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        {{ executeSymbbEvent('template.global.stylesheets') }}
    {% endblock %}
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="/bundles/symbbcoreangular/js/angular/angular-mocks.js"></script>
    {{ getSymbbSite().getGoogleAnalyticsCode() |raw }}
    {% block javascripts %}  
        {% javascripts filter='?uglifyjs2'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-animate.js'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-cookies.js'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-routing.js'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-sanitize.js'
            '@SymBBCoreAngularBundle/Resources/public/js/moment/moment.js'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-file-upload.js'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/angular-tumb.js'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/datetimepicker.js'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/loading-bar.js'
            '@SymBBCoreAngularBundle/Resources/public/js/angular/ng-infinite-scroll.js'
            '@SymBBTemplateDefaultBundle/Resources/public/js/angular/module.js'
            '@SymBBTemplateDefaultBundle/Resources/public/js/form/collection.js'
            '@SymBBTemplateDefaultBundle/Resources/public/js/tabs.js'
            '@SymBBTemplateDefaultBundle/Resources/public/js/jquery.magnific-popup.min.js'
            '@FOSJsRoutingBundle/Resources/public/js/router.js'
        %}
        <script src="{{ asset_url }}"></script> 
        {% endjavascripts %}

        {{ executeSymbbEvent('template.global.javascripts') }}
    {% endblock %}
    </head>

    <body>
        <div id="wrap">
            
            <div class="symbb_header">
                {% block symbb_header %}
                {% endblock %}
            </div>

            <div class="symbb_navi">
                {% block symbb_navi %} 
                    {% include getSymbbTemplate('forum') ~ ':Forum:navi.html.twig' %}
                {% endblock %}
            </div>

            <div class="topnavi">
                <div class="symbb_search_menu">
                    <ul>
                        <li>
                            <a href="{{path('angular_locale_forum_search')}}">{{ 'Newest Posts'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{path('angular_locale_forum_index')}}">{{ 'Browse/Write'|trans }}</a>
                        </li>
                        <li>
                            <input placeholder="{{ 'Search'|trans }} (TODO: Funktion noch nicht eingebaut ;P )"/>
                        </li>
                    </ul>
                </div>
                <ul class="language">
                    {% if app.request.locale == 'de' %}
                        <li><a target="_self" href="{{path('symbb_forum_index', {'_locale': 'de'})}}">{{ 'German'|trans }}</a></li>
                        <li><a target="_self" href="{{path('symbb_forum_index', {'_locale': 'en'})}}">{{ 'English'|trans }}</a></li>
                    {% else %}
                        <li><a target="_self" href="{{path('symbb_forum_index', {'_locale': 'en'})}}">{{ 'English'|trans }}</a></li>
                        <li><a target="_self" href="{{path('symbb_forum_index', {'_locale': 'de'})}}">{{ 'German'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="symbb_container">
                <div class="symbb_content">

                    <div class="symbb_flash_messages" id="symbbMessages"> 
                        {% if app.getUser.getSymbbType() == 'guest' %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {% trans %}You are not currently logged.{% endtrans %}
                            </div>
                        {% endif %}

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}

                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="clear"></div>
                    <div ng-view  show-default="true"></div>
                    {% block symbb_body_container %}
                        <div class="symbb_body">
                            {% block symbb_body %}

                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                
                {% set onlineUsers = getSymbbOnlineUsers() %}
                
                <div class="page-header">
                    {{ 'Who is online?'|trans }}
                </div>
                {{ 'user.online.total'|transchoice(getSymbbOnlineUserCount(), {'%count%': getSymbbOnlineUserCount()}) }}:
                {{ 'user.online.type'|trans({'%member_count%': getSymbbOnlineUserCount('user'), '%guest_count%': getSymbbOnlineUserCount('guest')}) }} <br/>
                {{ 'Members'|trans }}: 
                {% for onlineUser in onlineUsers if onlineUser.type == 'user'%}
                    {{ onlineUser.username }}, 
                {% endfor %}

                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>