{% trans_default_domain "symbb_frontend" %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" ng-app="app">
  <head>
    <title>{% block title %}{{getSymbbSite().getName()}}{% endblock %}</title>
    <meta http-equiv="Content-Language" content="{{ app.request.locale }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{getSymbbSite().getMetaDataDescription()}}">
    <meta name="keywords" content="{{getSymbbSite().getMetaDataKeywords()}}">
    
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% stylesheets filter='?uglifycss'
            '@SymBBTemplateDefaultBundle/Resources/public/css/magnific-popup.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/theme.css' 
            '@SymBBTemplateDefaultBundle/Resources/public/css/form.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/navi.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/search.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/forum.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/topic.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/select2.css'
            '@SymBBTemplateDefaultBundle/Resources/public/css/select2-bootstrap.css'
         %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        {{ executeSymbbEvent('template.global.stylesheets') }}
    {% endblock %}

    {% block javascripts %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {{ getSymbbSite().getGoogleAnalyticsCode() |raw }}
        {% javascripts filter='?uglifyjs2'
        '@SymBBCoreAngularBundle/Resources/public/js/moment/moment.js'
        '@SymBBTemplateDefaultBundle/Resources/public/js/tabs.js'
        '@SymBBTemplateDefaultBundle/Resources/public/js/jquery.magnific-popup.min.js'
        '@SymBBTemplateDefaultBundle/Resources/public/js/datepicker/jquery.datetimepicker.js'
        '@SymBBTemplateDefaultBundle/Resources/public/js/form/collection.js'
        '@SymBBTemplateDefaultBundle/Resources/public/js/select2.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {{ executeSymbbEvent('template.global.javascripts') }}
    {% endblock %}
    </head>

    <body>
        <div id="wrap">
            
            <div class="symbb_header">
                {% block symbb_header %}
                {% endblock %}
            </div>

            <div class="symbb_navi">
                {% block symbb_navi %} 
                    {% include getSymbbTemplate('forum') ~ ':Forum:navi.html.twig' %}
                {% endblock %}
            </div>

            <div class="topnavi">
                {% block symbb_topnavi %}
                    <div class="symbb_menu">
                        {{ knp_menu_render('main') }}
                    </div>
                {% endblock %}
            </div>

            <div class="symbb_container">
                <div class="symbb_content">

                    <div class="symbb_flash_messages" id="symbbMessages"> 
                        {% if app.getUser.getSymbbType() == 'guest' %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {% trans %}You are not currently logged.{% endtrans %}
                            </div>
                        {% endif %}

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}

                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="clear"></div>
                    <div ng-view  show-default="true"></div>
                    {% block symbb_body_container %}
                        <div class="symbb_body">
                            {% block symbb_body %}

                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer id="page-footer">
            <div id="footer-menu" class="wrap">
                {{ knp_menu_render('footer') }}
            </div>
            <div class="copyright">
                <div class="wrap">
                    Powered by <a href="https://www.symbb.de/">SymBB</a>® Forum Software © symbb.de
                    <br>Theme Created by symbb.de
                </div>
                <div>
                    <a id="bottom" accesskey="z"></a>
                </div>
            </div>
        </footer>
    </body>
</html>