{% trans_default_domain "symbb_frontend" %}
<div class="symbb_tabcontent" data-tab="files">
    <div class="panel panel-default">
        <div class="hidden">{{ form_rowbootstrap(form.mainPost.files) }}</div>
        <div class="padding10">
            <div class="collection" data-prototype='{{ form_widget(form.mainPost.files.vars.prototype) }}'>
                {% for currfile in form.mainPost.files %}
                    <div class="collection_item pull-left">
                        {% set imageOriginal = vich_uploader_asset(currfile.vars.data, 'image') %}
                        {% set image = imageOriginal|imagine_filter('symbb_post_file') %}
                        <img src="{{image}}" />
                        <div class="hidden">
                            {{ form_widget(currfile.image) }}
                        </div>
                        <div class="symbb_bbbcode_btn" data-tag-code="[img]{{imageOriginal}}[/img]" title="{{ 'insert file'|trans() }}">
                           <span class="glyphicon glyphicon-picture"  onclick="return false;" title="{{ 'insert file'|trans() }}"></span>
                        </div>
                        <div class="symbb_bbbcode_btn" data-tag-code="" title="{{ 'remove file'|trans() }}">
                           <span class="glyphicon glyphicon-remove-sign collection_item_remove" onclick="return false;" title="{{ 'remove file'|trans() }}"></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
                <div class="clear"></div>
                <button class="btn btn-default collection_add" onclick="return false;">{{ 'add file'|trans() }}</button>
                <div class="clear"></div>
             </div>
        </div>
    </div>
</div>