{% trans_default_domain "symbb_frontend" %}


<div ng-show="topic.locked" class="clear m-top-1">
    <div class="alert alert-warning">{% trans %}This topic is closed.{% endtrans %}</div>
    <div class="clear"></div>
</div>

<div class="anker-group"><div class="anker" id="first_header"></div></div>
<div class="symbb_action_row topic_start">
    <div class="title">[[ topic.name ]]</div>
    <div class="btn-group pull-left" ng-show="topic.access.createPost">
        <button ng-show="topic.access.createPost" symbb-js-link="forum_post_create" param-topic="[[topic.id]]" type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#answer">{{ 'Answer'|trans }}</button>
    </div> 
</div>
<div class="clear"></div>

<div class="symbb_topic" infinite-scroll='postPagination.nextPage()' infinite-scroll-disabled='postPagination.busy' infinite-scroll-distance='1'>

    <div ng-repeat='post in postPagination.items'>

        <div class="anker-group">
            <div class="anker" id="[[post.seo.name]]-[[post.id]]"></div>
        </div>
        <div class="symbb_action_row">
            <div class="title">
            {{ executeSymbbTemplatePostEvent('before.username') }}
                <span symbb-sf-link="symbb_user_profile" param-id="[[post.author.id]]" param-name="[[post.author.username]]">
                    [[post.author.username]]
                </span>
            {{ executeSymbbTemplatePostEvent('after.username') }}
            </div>
            <div class="arrow"></div>
            <div class="date">
            {% trans with {'%date%': "[[ post.changed | date:'dd.MM.yyyy']]", '%time%': "[[ post.changed | date:'HH.mm']]"} %}on %date% at %time%{% endtrans %}
            </div>              
            <div class="btn-group pull-right">
                <button ng-show="topic.access.createPost" symbb-js-link="forum_post_quote" param-topic="[[topic.id]]" param-quote-id="[[post.id]]" type="button" class="btn quote btn-info">{% trans %}Quote{% endtrans %}</button>
                <button ng-show="post.access.edit" symbb-js-link="forum_post_edit" param-id="[[post.id]]" type="button" class="btn btn-primary">{% trans %}Edit{% endtrans %}</button>
                <button ng-show="post.access.delete" symbb-delete-request="forum_post_delete" param-id="[[post.id]]" message="{{'you really want to delete the entry?'|trans}}" type="button" class="btn btn-danger" >{% trans %}Delete{% endtrans %}</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row body">
            <div class="media">
                <div class="pull-left userblock">
                    {{ executeSymbbTemplatePostEvent('before.avatar') }}
                    <div class="avatar">
                        <img ng-src="[[post.author.avatar]]" />
                    </div>
                    <div class="clear"></div>
                    {{ executeSymbbTemplatePostEvent('after.avatar') }}
                    <div class="clear"></div>
                    {{ executeSymbbTemplatePostEvent('before.userdata') }}
                    <div class="userdata">
                        <div class="text">{% trans %}posts{% endtrans %}:</div>
                        <div class="data">[[post.author.count.post]]</div>
                        <div class="clear"></div>
                        <div class="text">{% trans %}Join Date{% endtrans %}:</div>
                        <div class="data">[[ post.author.created | date:'dd.MM.yyyy']]</div>
                        <div class="clear"></div>
                    </div>
                     {{ executeSymbbTemplatePostEvent('after.userdata') }}
                </div>
                <div class="media-body textblock">
                    <div class="clear"></div>
                    {{ executeSymbbTemplatePostEvent('before.text') }}
                    <div class="text" id="symbb_post_body_[[post.id]]" ng-bind-html="post.text"></div>
                    {{ executeSymbbTemplatePostEvent('after.text') }}
                    {{ executeSymbbTemplatePostEvent('before.signature') }}
                    <div ng-bind-html="post.signature"></div>
                    {{ executeSymbbTemplatePostEvent('after.signature') }}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="symbb_action_row topic_start">
        <div class="title">[[ topic.name ]]</div>
        <div class="btn-group pull-left" ng-hide="topic.locked">
            <button ng-show="topic.access.createPost" symbb-js-link="forum_post_create" param-topic="[[topic.id]]" type="button" class="btn btn-default btn-sm pull-left" data-toggle="collapse" data-target="#answer">{{ 'Answer'|trans }}</button>
            <div ng-hide='postPagination.end || postPagination.busy' class="m-top-1 pull-left">
                <div class="alert alert-info">{% trans %}Scroll to get the next entries{% endtrans %}</div>
                <div class="clear"></div>
            </div>
            <div ng-show='postPagination.busy' class="m-top-1 pull-left">
                <div class="alert alert-info">{% trans %}Loading ...{% endtrans %}</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div> 
    </div>
    <div class="clear"></div>
</div>

    
<div  class="clear m-top-1" ng-show="topic.locked">
    <div class="m-top-1"></div>
    <div class="alert alert-warning">{% trans %}This topic is closed.{% endtrans %}</div>
    <div class="clear"></div>
</div>