{% trans_default_domain "symbb_frontend" %}

<script type="text/ng-template" id="symbbCategoryRow.html">

    <div class="row symbb_category_header_row"  ng-if="object.isCategory">
        <div class="col-md-5" ><a symbb-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]">[[ object.name ]]</a></div>
        <div class="col-md-1 number-align">{{ 'Topics'|trans }}</div>
        <div class="col-md-1 number-align">{{ 'Posts'|trans }}</div>
        <div class="col-md-3">{{ 'Last post'|trans }}</div>
        <div class="col-md-2"></div>
    </div>
    <div  ng-if="object.isCategory">
        <div ng-repeat="object in object.children" ng-include="'symbbForumRow.html'">

        </div>
    </div>
</script>

<script type="text/ng-template" id="symbbForumRow.html">
    <div class="row symbb_forum_body_row" ng-if="!object.isLink">
        <div class="col-md-5 col">
            <img ng-if="object.backgroundImage" class="forumimage pull-left" ng-src="[[object.backgroundImage]]" symbb-js-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]"/>
            <div class="pull-left">
                <div class="title">
                    <a ng-if="!object.isLink" symbb-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]">[[ object.name ]]</a>
                    <div class="labels">
                        <div ng-repeat="flag in object.flags">
                            <span  class="label label-[[flag.type]]">[[flag.title]]</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="description"><a ng-if="!object.isLink" symbb-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]">[[ object.description ]]</a></div>
                <div class="subforumlist" ng-if="object.showSubForumList">
                    {{ 'Subforums'|trans }}:
                    <span ng-repeat="object in object.children">
                        <a ng-if="!object.isLink" symbb-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]">[[ object.name ]]</a> <span ng-if="!$last">,</span>
                        <a ng-if="object.isLink" ng-href="[[object.link]]" target="_blank">[[ object.name ]]</a> <span ng-if="!$last">,</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-1 col number-align">[[ object.count.topic ]]</div>
        <div class="col-md-1 col number-align">[[ object.count.post ]]</div>
        <div class="col-md-3 col" >
            <div ng-if="object.lastPosts.0.id" symbb-link="forum_topic_show" param-id="[[object.lastPosts.0.topic.id]]" param-name="[[object.lastPosts.0.topic.seo.name]]" param-page="last">
                <div class="text pull-left" >
                    [[object.name]]: {% trans with {'%user%': "[[object.lastPosts.0.author.username]]", '%date%': "[[ object.lastPosts.0.changed | date:'dd.MM.yyyy']]", '%time%': "[[ object.lastPosts.0.changed | date:'HH.mm']]"} %}from %user% on %date% at %time%{% endtrans %}
                </div>
            </div>
        </div>
        <div class="col-md-2 col">
            <div class="btn-group pull-right" ng-if="!object.isLink">
                <button ng-if="object.access.createTopic && object.isForum" title="{% trans %}new Topic{% endtrans %}" type="button" class="btn btn-default btn-xs" symbb-js-link="forum_topic_create" param-forum="[[object.id]]" param-name="[[object.seo.name]]">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" title="{% trans %}View Forum{% endtrans %}" symbb-js-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button ng-if="user.type != 'guest'" type="button" class="btn btn-default btn-xs" title="{% trans %}Mark as read{% endtrans %}" symbb-request="forum_mark_as_read" param-id="[[object.id]]">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-if="object.ignored && user.type != 'guest'" id="symbbForumIgnoreButton" title="{{ 'You ignore the forum'|trans }}" type="button" class="btn btn-warning btn-xs" symbb-request="forum_unignore" param-id="[[object.id]]">
                    <span class="glyphicon glyphicon-eye-close" ></span>
                </button>
                <button  ng-if="!object.ignored && user.type != 'guest'" id="symbbForumWatchButton" title="{{ 'You watch the forum'|trans }}" type="button" class="btn btn-success btn-xs" symbb-request="forum_ignore" param-id="[[object.id]]">
                    <span class="glyphicon glyphicon glyphicon-eye-open" ></span>
                </button>
            </div>
        </div>
    </div>
    <div ng-if="object.isLink" class="symbb_forum_body_row">
        <div class="row">
            <a ng-href="[[object.link]]" target="_blank">
                <img ng-if="object.backgroundImage" class="forumimage pull-left" ng-src="[[object.backgroundImage]]"/>
                <span ng-if="!object.backgroundImage" class="forumimage glyphicon glyphicon-link pull-left"></span>
                <div class="infos pull-left">
                    <div class="name">
                        <div class="pull-left">[[object.name]]</div>
                        <div class="labels" ng-if="!object.isLink">
                            <div ng-repeat="flag in object.flags">
                                <span  class="label label-[[flag.type]]">[[flag.title]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="description">
                        [[object.description]]
                    </div>
                </div>
                <div class="clear"></div>
            </a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="symbbTopicRow.html">
    <div class="row symbb_forum_body_row">
        <div class="col-md-5 col">
            <div class="pull-left">
                <div class="title">
                    <a ng-if="!object.isLink" symbb-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]">[[ object.name ]]</a>
                    <div class="labels">
                        <div ng-repeat="flag in object.flags">
                            <span  class="label label-[[flag.type]]">[[flag.title]]</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="description"><a ng-if="!object.isLink" symbb-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]">[[ object.description ]]</a></div>
                <div class="subforumlist" ng-if="object.showSubForumList">
                    {{ 'Subforums'|trans }}:
                    <span ng-repeat="object in object.children">
                        <a ng-if="!object.isLink" symbb-link="forum_show" param-id="[[object.id]]" param-name="[[object.seo.name]]">[[ object.name ]]</a> <span ng-if="!$last">,</span>
                        <a ng-if="object.isLink" ng-href="[[object.link]]" target="_blank">[[ object.name ]]</a> <span ng-if="!$last">,</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col number-align">[[ object.count.post ]]</div>
        <div class="col-md-5 col" >
            <div ng-if="object.lastPosts.0.id" symbb-link="forum_topic_show" param-id="[[object.lastPosts.0.topic.id]]" param-name="[[object.lastPosts.0.topic.seo.name]]" param-page="last">
                <div class="avatar_mini pull-left">
                    <img title="[[object.lastPosts.0.author.username]]" ng-src="[[object.lastPosts.0.author.avatar]]" />
                </div>
                <div class="text pull-left" >
                    {% trans with {'%user%': "[[object.lastPosts.0.author.username]]", '%date%': "[[ object.lastPosts.0.changed | date:'dd.MM.yyyy']]", '%time%': "[[ object.lastPosts.0.changed | date:'HH.mm']]"} %}from %user% on %date% at %time%{% endtrans %}
                </div>
            </div>
        </div>
    </div>
</script>

<symbb-breadcrumb >
    <li class="pull-right" ng-if="forum.access.createTopic && forum.isForum">
        <button title="{% trans %}new Topic{% endtrans %}" type="button" class="btn btn-primary btn-xs" symbb-js-link="forum_topic_create" param-forum="[[forum.id]]" param-name="[[forum.seo.name]]">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </li>
</symbb-breadcrumb>

<div class="clear"></div>

<div ng-repeat="object in forum.children | filter:{ isCategory: true }" ng-include="'symbbCategoryRow.html'">
</div>

<div class="row symbb_forum_header_row" ng-if="forum.count.forum">
    <div class="col-md-5">{{ 'Forum'|trans }}</div>
    <div class="col-md-1 number-align">{{ 'Topics'|trans }}</div>
    <div class="col-md-1 number-align">{{ 'Posts'|trans }}</div>
    <div class="col-md-3">{{ 'Last post'|trans }}</div>
    <div class="col-md-2"></div>
</div>
<div ng-repeat="object in forum.children | filter:{ isCategory: false }" ng-include="'symbbForumRow.html'">
</div>



{{ include(
'SymBBTemplateDefaultBundle:Angular:Forum/topicEntry.html.twig',
{ }
) }}