{% trans_default_domain "symbb_frontend" %}

<div ng-show="post.access.createSurvey" class="symbb_tabcontent" data-tab="survey">
    <div class="panel panel-default">
        <div class="padding10">   
            <div class="form-group">
                <label class="col-sm-2 control-label" for="surveyQuestion">{{'The answers'|trans}}</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="post.extension.survey.question" class="form-control" placeholder="{{'The question'|trans}}" id="surveyQuestion">
                </div>
                <div class="clear"></div>
            </div> 
            <div class="form-group">
                <label class="col-sm-2 control-label" for="surveyAnswers">{{'The answers'|trans}}</label>
                <div class="col-sm-10">
                    <textarea ng-model="post.extension.survey.answers" class="form-control" placeholder="{{'Give each answer on a separate line'|trans}}"id="surveyAnswers"></textarea>
                </div>
                <div class="clear"></div>
            </div> 
            <div class="form-group">
                <label class="col-sm-2 control-label" for="surveyChoices">{{'Options per user'|trans}}</label>
                <div class="col-sm-10">
                    <input type="number" ng-model="post.extension.survey.choices" class="form-control" id="surveyChoices">
                </div>
                <div class="clear"></div>
            </div> 
            <div class="form-group">
                <label for="surveyChoicesChangeable" class="col-sm-2 control-label">{{'Allow changing the voting'|trans}}</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="post.extension.survey.choicesChangeable" id="surveyChoicesChangeable">
                </div>
                <div class="clear"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="surveyEnd">{{'Survey End'|trans}}</label>
                <div class="col-sm-10">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="hidden" class="form-control" ng-model="post.extension.survey.end">
                                <input type="text" class="form-control" ng-model="post.extension.survey.date">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar">
                                    </i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="post.extension.survey.end" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', viewModel: 'post.extension.survey.date' }" id="surveyEnd"/>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div> 
        </div>
    </div>
</div>