{% trans_default_domain "symbb_frontend" %}

<div class="section_tabs">
    {% block section_tabs %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ path('angular_locale_user_ucp') }}" title="{{ 'profile'|trans }}">
                <span class="round-tabs two">
                 <i class="glyphicon glyphicon-user"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="{{ path('angular_locale_user_ucp_security') }}" title="{{ 'security'|trans }}">
                <span class="round-tabs two">
                 <i class="glyphicon glyphicon-lock"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="{{ path('angular_locale_message_list') }}" title="{{ 'messages'|trans }}">
                <span class="round-tabs four">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
            </a>
        </li>
    </ul>
    {% endblock %}
</div>

<div class="section_content">
    {% block section_content %}
    {% endblock %}
    <div class="clear"></div>
</div>