{% trans_default_domain "symbb_backend" %}
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span class="ng-scope">{{ 'Navigation'|trans }}</span>
    </li>
    <li>
        <a href="">
            <i class="glyphicon glyphicon-stats"></i>
            <span class="font-bold ng-scope" >{{ 'Dashboard'|trans }}</span>
        </a>
    </li>
    <li class="line dk"></li>
    <li>
        <a href="">
            <i class="glyphicon glyphicon-globe"></i>
            <span class="font-bold ng-scope" >{{ 'Sites'|trans }}</span>
        </a>
    </li>
    <li ng-class="{'active': currNavi == 'forum'}" ng-click="currNavi = 'forum'">
        <a href="">
            <i class="glyphicon glyphicon-tasks"></i>
            <span class="font-bold ng-scope" >{{ 'Forummanagment'|trans }}</span>
            <div class="pull-right">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href="">
                    <span>{{ 'Overview'|trans }}</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk"></li>
    <li ng-class="{'active': currNavi == 'user'}" ng-click="currNavi = 'user'">
        <a href="">
            <i class="glyphicon glyphicon-user"></i>
            <span class="font-bold ng-scope" >{{ 'Usermanagment'|trans }}</span>
            <div class="pull-right">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href="">
                    <span>{{ 'Users'|trans }}</span>
                </a>
            </li>
            <li class="nav-sub-header">
                <a href="">
                    <span>{{ 'Groups'|trans }}</span>
                </a>
            </li>
            <li class="nav-sub-header">
                <a href="">
                    <span>{{ 'Custom Fields'|trans }}</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active': currNavi == 'access'}">
        <a href="" ng-click="currNavi = 'access'">
            <i class="glyphicon glyphicon-lock"></i>
            <span class="font-bold ng-scope" >{{ 'Accessmanagment'|trans }}</span>
            <div class="pull-right">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href="">
                    <span>{{ 'Groupaccess'|trans }}</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="line dk"></li>
    <li ng-class="{'active': currNavi == 'settings'}">
        <a href="" ng-click="currNavi = 'settings'">
            <i class="glyphicon glyphicon-cog"></i>
            <span class="font-bold ng-scope" >{{ 'Settings'|trans }}</span>
            <div class="pull-right">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href="">
                    <span>{{ 'Options'|trans }}</span>
                </a>
            </li>
            <li class="nav-sub-header">
                <a href="">
                    <span>{{ 'BBCodes'|trans }}</span>
                </a>
            </li>
            <li class="nav-sub-header">
                <a href="">
                    <span>{{ 'Topic Tags'|trans }}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="">
            <i class="glyphicon glyphicon-plus-sign"></i>
            <span class="font-bold ng-scope" >{{ 'Extensions'|trans }}</span>
        </a>
    </li>
    <li>
        <a href="">
            <i class="glyphicon glyphicon-warning-sign"></i>
            <span class="font-bold ng-scope" >{{ 'Maintenance'|trans }}</span>
        </a>
    </li>
    <li class="line dk"></li>
    <li>
        <a href="">
            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
            <span class="font-bold ng-scope" >{{ 'Translations'|trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('symbb_forum_index') }}" target="_self">
            <i class="glyphicon glyphicon-home"></i>
            <span class="font-bold ng-scope" >{{ 'Forum'|trans }}</span>
        </a>
    </li>
</ul>