{% trans_default_domain "symbb_frontend" %}

<div class="symbb_topic ">
    <form name="form" class="css-form form-horizontal" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">[[topic.forum.name]]</div>
            <div class="panel-body">
            
                <div class="input-group">
                    <span class="input-group-addon">
                        <label class="required" for="topic_name">{{'Title'|trans}}</label>
                    </span>
                    <input type="text" ng-model="topic.name" name="topic[name]" required class="form-control" placeholder="{{'Enter a name here'|trans}}" required="required">
                </div>
                <input type="hidden" ng-model="topic.id"  name="topic[id]">
                <input type="hidden" ng-model="topic.mainPost.id" name="topic[mainPost][id]">
                <input type="hidden" ng-model="topic.forum.id" required name="topic[forum][id]" required>
                
                <textarea symbb-editor-default ng-model="topic.mainPost.rawText" required placeholder="{{'Give Your text here'|trans}}" required="required" name="topic[mainPost][rawText]" class="form-control"></textarea>
    
                <div class="m-top-1"></div>
                <div class="panel panel-default" symbb-form-tabs>
                    <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a class="symbb_tab" data-tab="option">{{ 'Options'|trans }}</a></li>
                            <li><a class="symbb_tab" data-tab="files">{{ 'Files'|trans }}</a></li>
                            {{ executeSymbbTemplateFormTopicEvent('options.tabs') }}
                        </ul>
                    </div>
                    <div class="panel-body">
                        {{ executeSymbbTemplateFormTopicEvent('options.tabcontents') }}
                        <div class="symbb_tabcontent active" data-tab="option">
                            <div class="panel panel-default">
                                <div class="form-group">
                                    <label for="topic_notifyMe" class="col-sm-2 control-label">{{'Notify me'|trans}}</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" value="1" ng-model="topic.notifyMe" name="topic[notifyMe]" id="topic_notifyMe">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="form-group">
                                    <label for="topic_locked" class="col-sm-2 control-label">{{'close topic'|trans}}</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" value="1" ng-model="topic.locked" name="topic[locked]" id="topic_locked">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="symbb_tabcontent" data-tab="files">
                            <div class="panel panel-default padding10">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">{{'Name'|trans}}</th>
                                            <th ng-show="uploader.isHTML5">{{'Size'|trans}}</th>
                                            <th ng-show="uploader.isHTML5">{{'Progress'|trans}}</th>
                                            <th>{{'Status'|trans}}</th>
                                            <th>{{'Actions'|trans}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td>
                                                <strong>[[ item.file.name ]]</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->
                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>[[ item.file.size/1024/1024|number:2 ]] MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-disabled="!item.isSuccess " ng-click="bbcode.insertUploadImage(item)">
                                                    <span class=" glyphicon glyphicon-paperclip"></span> {{'Insert'|trans}}
                                                </button>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> {{'Upload'|trans}}
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> {{'Cancel'|trans}}
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> {{'Remove'|trans}}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div>
                                    <p>
                                        {{'Queue progress'|trans}}:
                                        <div class="progress" style="">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </p>
                                    <input type="file" multiple="" ng-file-select=""></input>
                                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span> {{'Upload all'|trans}}
                                    </button>
                                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> {{'Cancel all'|trans}}
                                    </button>
                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                        <span class="glyphicon glyphicon-trash"></span> {{'Remove all'|trans}}
                                    </button>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" type="submit" ng-click="update(topic)" ng-disabled="form.$invalid">{{ 'Save'|trans }}</button>
                <button class="btn btn-danger" symbb-js-link="forum_show" param-id="[[forum.id]]" param-name="[[forum.name]]">{{ 'Abort'|trans }}</button>
            </div>
        </div>
    </form>
</div>
