{% trans_default_domain "symbb_frontend" %}

{% macro createCard(object) %}
 
    {% set categoryBackground = false %}

    {% if object.getImageName() %}
        {% set categoryBackground = vich_uploader_asset(object, 'image') %}
    {% endif %}

    {% if categoryBackground %}
        {% set categoryBackground = categoryBackground %}
    {% endif %}

    <div class="symbb_category col-lg-3 col-md-6 col-sm-12" onclick="window.location.href='{{ path('symbb_forum_show', {'id': object.getId(), 'name': object.getSeoName()}) }}#first_header'">
        <div class="border">
            <a class="header" href="{{ path('symbb_forum_show', {'id': object.getId(), 'name': object.getSeoName()}) }}#first_header">
                <div class="image" style="background-image: url({{ categoryBackground }})"></div>
                <div class="text">
                    <div class="title">{{object.getName()}}</div>
                    <div class="description">{{object.getDescription()}}</div>
                </div>
            </a>
            <div class="infos">
                <div class="show_subforums">
                    <div class="subheader">{% trans %}subforums{% endtrans %}</div>
                    <div class="subforum_list">
                        <small>
                        {% for child in object.getChildren() %}
                        <a href="{{ path('symbb_forum_show', {'id': child.getId(), 'name': child.getSeoName()}) }}#first_header">
                            {{child.getName()}}, 
                        </a>
                        {% else %}
                            {% trans %}no subforums{% endtrans %}
                        {% endfor %}  
                        </small>
                    </div>
                </div>
                <div class="lastpost">
                    <div class="subheader">{% trans %}Last post{% endtrans %}</div>
                    {% if object.getLastPost() %}
                        <a href="{{ path('symbb_forum_topic_show', {'id': object.getLastPost().getTopic().getId(), 'name': object.getLastPost().getTopic().getSeoName()}) }}?page=last#{{object.getLastPost().getSeoName()}}-{{object.getLastPost().getId()}}">
                            <div class="name">{{object.getLastPost().getName()}}</div>
                            <div class="user creator">{% trans with {'%user%': object.getLastPost().getAuthor().getUsername(), '%date%': object.getLastPost().getChanged()|format_date, '%time%': object.getLastPost().getChanged()|date('H:i')} %}by %user% on %date% at %time%{% endtrans %}</div>
                        </a>
                    {% else %}
                        {% trans %}no Topics{% endtrans %}
                    {% endif %}
                </div>
                <div class="subheader">{% trans %}Infos{% endtrans %}</div>
                <div class="labels">
                    {% trans %}Topics{% endtrans %} <span class="badge">{{object.getTopicCount()}}</span> &nbsp;
                    {% trans %}Posts{% endtrans %} <span class="badge">{{object.getPostCount()}}</span>
                    {% for label in checkSymbbForumLabels(object) %}
                        <span class="label label-{{label.type}}">{{label.title}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro createTopicCard(object) %}

    <div class="symbb_category col-lg-3 col-md-6 col-sm-12" onclick="window.location.href='{{ path('symbb_forum_topic_show', {'id': object.getId(), 'name': object.getSeoName()}) }}#first_header'">
        <div class="border">
            <a class="header" href="{{ path('symbb_forum_topic_show', {'id': object.getId(), 'name': object.getSeoName()}) }}#first_header">
                <div class="image" style="background-image: url({{getSymbbUserAvatar(object.getAuthor())}})"></div>
                <div class="text">
                    <div class="title">{{object.getName()}}</div>
                    <div class="user creator">
                        {% trans with {'%user%': object.getAuthor().getUsername(), '%date%': object.getCreated().format('D d.M Y'), '%time%': object.getCreated().format('H:i')} %}by %user% on %date% at %time%{% endtrans %}
                    </div>
                </div>
            </a>
            <div class="infos">
                <div class="lastpost">
                <div class="subheader">{% trans %}Last post{% endtrans %}</div>
                    {% if object.getLastPost() %}
                        <a href="{{ path('symbb_forum_topic_show', {'id': object.getId(), 'name': object.getSeoName()}) }}?page=last#{{object.getLastPost().getSeoName()}}-{{object.getLastPost().getId()}}">
                            <div class="name">{{object.getLastPost().getName()}}</div>
                            <div class="user">{% trans with {'%user%': object.getLastPost().getAuthor().getUsername(), '%date%': object.getLastPost().getChanged()|format_date, '%time%': object.getLastPost().getChanged()|date('H:i')} %}by %user% on %date% at %time%{% endtrans %}</div>
                        </a>
                    {% else %}
                        {% trans %}no Topics{% endtrans %}
                    {% endif %}
                </div>
                <div class="subheader">{% trans %}Infos{% endtrans %}</div>
                <div class="labels">
                {% for label in checkSymbbTopicLabels(object) %}
                    <span class="label label-{{label.type}}">{{label.title}}</span>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro createPostCardFull(object, css) %}

    <div class="symbb_category postfull {{ css }}" onclick="window.location.href='{{ path('symbb_forum_topic_show', {'id': object.getTopic().getId(), 'name': object.getTopic().getSeoName()}) }}?page=last#{{object.getSeoName()}}-{{object.getId()}}'">
        <div class="border">
            <a class="header" href="{{ path('symbb_forum_topic_show', {'id': object.getTopic().getId(), 'name': object.getTopic().getSeoName()}) }}?page=last#{{object.getSeoName()}}-{{object.getId()}}">
                <div class="image" style="background-image: url({{getSymbbUserAvatar(object.getAuthor())}})"></div>
                <div class="text">
                    <div class="title">{{object.getName()}}</div>
                    <div class="user creator">
                        {% trans with {'%user%': object.getAuthor().getUsername(), '%date%': object.getCreated().format('D d.M Y'), '%time%': object.getCreated().format('H:i')} %}by %user%{% endtrans %} <br/>
                        {% trans with {'%user%': object.getAuthor().getUsername(), '%date%': object.getCreated().format('D d.M Y'), '%time%': object.getCreated().format('H:i')} %}on %date% at %time%{% endtrans %}
                    </div>
                </div>
            </a>
            <div class="description">
                <blockquote>{{object.getText()|bbcode_clean|slice(0, 50)|raw}}</blockquote>
            </div>
            <div class="infos">
                <div class="subheader">{% trans %}Infos{% endtrans %}</div>
                <div class="labels">
                    {% for label in checkSymbbTopicLabels(object.getTopic()) %}
                        <span class="label label-{{label.type}}">{{label.title}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endmacro %}
