{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplate('forum') ~ ':Forum:layout.html.twig' %}

{% import getSymbbTemplate('forum') ~ ":Forum:forumMacros.html.twig" as symbBBForumMacro %}
{% import getSymbbTemplate('forum') ~ ":Topic:topicMacros.html.twig" as symbBBForumTopicMacro %}

{% if forum and forum.getType() == 'forum' %}
    {% set topicPagination = getTopicPagination(forum, app.request) %}
{% else %}
    {% set topicPagination = false %}
{% endif %}

{% set setFirstRowId = true %}

{% block symbb_body %}


    {% for object in forumList if object.isActive() and object.getType() == 'category' and is_granted('VIEW', object) %}
 
        <div>
            
            <div class="anker-group">
                <div class="anker" id="category_{{ object.getId() }}"></div>
                {% if setFirstRowId %} <div class="anker" id="first_header"></div> {% set setFirstRowId = false %} {% endif %}
            </div>
            <table class="simpletable">
                <tr class="simplerow">
                    <th class="namerow">
                        <a href="#category_{{ object.getId() }}">{{ object.getName() }}</a>
                    </th>
                    <th class="topicrow">
                        {{"Topics"|trans()}}
                    </th>
                    <th class="postrow">
                        {{"Posts"|trans()}}
                    </th>
                    <th class="lastpostrow">
                        {{"Last post"|trans()}}
                    </th>
                </tr>
                {% for subobject in object.getChildren() if subobject.isActive() and is_granted('VIEW', subobject) %}

                    {{ symbBBForumMacro.createRow(subobject) }}

                {% endfor %}
            </table>
            <div class="clear"></div>
        </div>

    {% endfor %}
    
    {% set count = 0 %}
    {% for object in forumList if object.isActive() and object.getType() == 'forum' and is_granted('VIEW', object) %}
        {% set count = count + 1 %}
    {% endfor %}
    
       
    {% if count > 0 %}
    <div class="anker-group">
        <div class="anker" id="forums"></div>
        {% if setFirstRowId %} <div class="anker" id="first_header"></div> {% set setFirstRowId = false %} {% endif %}
    </div>
    <table class="simpletable">
        <tr class="simplerow">
            <th class="namerow">
                <a href="#forums">{{ 'Forums'|trans() }}</a>
            </th>
            <th class="topicrow">
                {{"Topics"|trans()}}
            </th>
            <th class="postrow">
                {{"Posts"|trans()}}
            </th>
            <th class="lastpostrow">
                {{"Last post"|trans()}}
            </th>
        </tr>
    {% endif %}
    {% for object in forumList if object.isActive() and object.getType() == 'forum' and is_granted('VIEW', object) %}

        {{ symbBBForumMacro.createRow(object) }}

    {% endfor %}
    {% if count > 0 %}
    </table>
    {% endif %}
 
    {% if forum and forum.getType() == 'forum' and is_granted('VIEW', forum) %}

        <div class="anker-group">
            <div class="anker" id="topics"></div>
            {% if setFirstRowId %} <div class="anker" id="first_header"></div> {% set setFirstRowId = false %} {% endif %}
        </div>
        <div class="symbb_action_row">
            <div class="title"><a href="#topics">{{ 'Topics'|trans() }}</a></div>
            <div class="arrow"></div>
            {% if forum and forum.getType() == 'forum' and ( is_granted('CREATE_TOPIC', forum) or app.user.getSymbbType() == 'user') %}
                <div class="btn-group pull-left">
                    {% if is_granted('CREATE_TOPIC', forum) %}
                    <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_topic_new', {'forum': forum.getId()}) }}'">{% trans %}new Topic{% endtrans %}</button>
                    {% endif %}
                    {% if app.user.getSymbbType() == 'user' %}
                        <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_read', {'forum': forum.getId()}) }}'">{% trans %}Mark as read{% endtrans %}</button>
                        {% if checkSymbbForForumIgnoreFlag(forum) %}
                            <button title="{{ 'You ignore the forum'|trans }}" type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_watch', {'forum': forum.getId()}) }}'">
                                <span class="glyphicon glyphicon-eye-close" ></span> {{ 'You ignore the forum'|trans }}
                            </button>
                        {% else %}
                            <button title="{{ 'You watch the forum'|trans }}" type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_ignore', {'forum': forum.getId()}) }}'">
                                <span class="glyphicon glyphicon glyphicon-eye-open" ></span> {{ 'You watch the forum'|trans }}
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            {{ knp_pagination_render(topicPagination) }}
            <div class="clear"></div>
        </div>
    
        <table class="simpletable">
            <tr class="simplerow">
                <th class="namerow">
                    <a href="#topics">{{ 'Topics'|trans() }}</a>
                </th>
                <th class="postrow">
                    {{"Posts"|trans()}}
                </th>
                <th class="lastpostrow">
                    {{"Last post"|trans()}}
                </th>
            </tr>
            {% for object in topicPagination %}

                {{ symbBBForumMacro.createTopicRow(object) }}

            {% endfor %}
        </table>

        <div class="symbb_action_row">
            <div class="title"><a href="#topics">{{ 'Topics'|trans() }}</a></div>
            <div class="arrow"></div>
            {% if forum and forum.getType() == 'forum' and ( is_granted('CREATE_TOPIC', forum) or app.user.getSymbbType() == 'user') %}
                <div class="btn-group pull-left">
                    {% if is_granted('CREATE_TOPIC', forum) %}
                    <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_topic_new', {'forum': forum.getId()}) }}'">{% trans %}new Topic{% endtrans %}</button>
                    {% endif %}
                    {% if app.user.getSymbbType() == 'user' %}
                        <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_read', {'forum': forum.getId()}) }}'">{% trans %}Mark as read{% endtrans %}</button>
                        {% if checkSymbbForForumIgnoreFlag(forum) %}
                            <button title="{{ 'You ignore the forum'|trans }}" type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_watch', {'forum': forum.getId()}) }}'">
                                <span class="glyphicon glyphicon-eye-close" ></span> {{ 'You ignore the forum'|trans }}
                            </button>
                        {% else %}
                            <button title="{{ 'You watch the forum'|trans }}" type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_ignore', {'forum': forum.getId()}) }}'">
                                <span class="glyphicon glyphicon glyphicon-eye-open" ></span> {{ 'You watch the forum'|trans }}
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            {{ knp_pagination_render(topicPagination) }}
            <div class="clear"></div>
        </div>

    {% endif %}
{% endblock %}

