{% trans_default_domain "symbb_frontend" %}

{% extends getSymbbTemplateConfig('forum') ~ ':Forum:layoutWithSidebar.html.twig' %}

{% block symbb_sidebar %}
    
    {% include getSymbbTemplateConfig('forum') ~ ':Forum:sidebar.html.twig' with {'forum': forum} %}
    
{% endblock %}    

{% block symbb_breadcrumb %}
    {{ getSymbbBreadcrumb(forum) }}
{% endblock %}

{% block symbb_actions %}
    {% if forum and forum.getType() == 'forum' and ( hasSymbbAccess('SYMBB_FORUM#CREATE_TOPIC', forum) or app.user.getSymbbType() == 'user') %}
         <div class="btn-group">
             {% if hasSymbbAccess('SYMBB_FORUM#CREATE_TOPIC', forum) %}
             <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_topic_new', {'forum': forum.getId()}) }}'">{% trans %}new Topic{% endtrans %}</button>
             {% endif %}
             {% if app.user.getSymbbType() == 'user' %}
                 <button type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_read', {'forum': forum.getId()}) }}'">{% trans %}Mark as read{% endtrans %}</button>
                 {% if checkSymbbForForumIgnoreFlag(forum) %}
                     <button title="{{ 'You ignore the forum'|trans }}" type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_watch', {'forum': forum.getId()}) }}'">
                         <span class="glyphicon glyphicon-eye-close" ></span> {{ 'You ignore the forum'|trans }}
                     </button>
                 {% else %}
                     <button title="{{ 'You watch the forum'|trans }}" type="button" class="btn btn-default btn-sm" onclick="window.location.href='{{ path('symbb_forum_ignore', {'forum': forum.getId()}) }}'">
                         <span class="glyphicon glyphicon glyphicon-eye-open" ></span> {{ 'You watch the forum'|trans }}
                     </button>
                 {% endif %}
             {% endif %}
         </div>
     {% endif %}            
{% endblock %}


{% block symbb_body %}

    {% for object in forumList if object.isActive() and object.getType() == 'category' and hasSymbbAccess('SYMBB_FORUM#VIEW', object) %}

            
        <div class="symbb_category">
            <a href="{{ path('symbb_forum_show', {'id': object.getId(), 'name': object.getSeoName()}) }}">
                <div class="title">{{object.getName()}}</div>
                <div class="description">{{object.getDescription()}}</div>
                <div class="infos">
                    {% trans %}Topics{% endtrans %} <span class="badge">{{object.getTopicCount()}}</span> &nbsp;
                    {% trans %}Posts{% endtrans %} <span class="badge">{{object.getPostCount()}}</span>
                    {% if checkSymbbForForumNewFlag(object) %}
                        <span class="label label-success">{% trans %}new{% endtrans %}</span>
                    {% endif %}
                    <div class="more">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <div class="clear"></div>
                        <div class="more-infos">
                            {% if object.getLastPost() %}
                                <a href="{{ path('symbb_forum_topic_show', {'id': object.getLastPost().getTopic().getId(), 'name': object.getLastPost().getTopic().getSeoName()}) }}?page=last#{{object.getLastPost().getSeoName()}}-{{object.getLastPost().getId()}}">
                                    <div class="name">{{object.getLastPost().getName()}}</div>
                                    <div class="user">{% trans with {'%user%': object.getLastPost().getAuthor().getUsername(), '%date%': object.getLastPost().getChanged()|format_date, '%time%': object.getLastPost().getChanged()|date('H:i')} %}by %user% on %date% at %time%{% endtrans %}</div>
                                </a>
                            {% else %}
                                {% trans %}no Topics{% endtrans %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>


    {% endfor %}

    <div class="clear"></div>

    {% for object in forumList if object.isActive() and object.getType() == 'forum' and hasSymbbAccess('SYMBB_FORUM#VIEW', object) %}

            
        <div class="symbb_category">
            <a href="{{ path('symbb_forum_show', {'id': object.getId(), 'name': object.getSeoName()}) }}">
                <div class="title">{{object.getName()}}</div>
                <div class="description">{{object.getDescription()}}</div>
                <div class="infos">
                    {% trans %}Topics{% endtrans %} <span class="badge">{{object.getTopicCount()}}</span> &nbsp;
                    {% trans %}Posts{% endtrans %} <span class="badge">{{object.getPostCount()}}</span>
                    {% if checkSymbbForForumNewFlag(object) %}
                        <span class="label label-success">{% trans %}new{% endtrans %}</span>
                    {% endif %}
                    <div class="more">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <div class="clear"></div>
                        <div class="more-infos">
                            {% if object.getLastPost() %}
                                <a href="{{ path('symbb_forum_topic_show', {'id': object.getLastPost().getTopic().getId(), 'name': object.getLastPost().getTopic().getSeoName()}) }}?page=last#{{object.getLastPost().getSeoName()}}-{{object.getLastPost().getId()}}">
                                    <div class="name">{{object.getLastPost().getName()}}</div>
                                    <div class="user">{% trans with {'%user%': object.getLastPost().getAuthor().getUsername(), '%date%': object.getLastPost().getChanged()|format_date, '%time%': object.getLastPost().getChanged()|date('H:i')} %}by %user% on %date% at %time%{% endtrans %}</div>
                                </a>
                            {% else %}
                                {% trans %}no Topics{% endtrans %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>


    {% endfor %}
                
    <div class="symbb_list">
        {% if forum and forum.getType() == 'forum' %}
            {% set topicPagination = getTopicPagination(forum) %}
            {{ symbBBForumMacro.showTopicList(topicPagination, forum) }}
        {% endif %}
    </div>
{% endblock %}

